@import "tailwindcss";

@font-face {
  font-family: "Dodo";
  src: url("/fonts/dodo-rounded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
	overflow-y: scroll;
}

* {
  font-family: "Dodo", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cef4ac;
  width: 85%;
  height: 88px;
	padding: 20px 2%;
}
.logo {
  width: 10.5%;
  height: auto;
	cursor: pointer;
}
.catalogBtn {
	width: 10.5%;
	height: 50px;
}
.search {
	display: flex;
	width: 60%;
}
.searchField {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
	border: 3px solid transparent;
  border-radius: 6px 0 0 6px;
  color: #929292;
  padding: 0 20px;
  box-sizing: border-box;
	font-size: 20px;
	outline: none;
	transition: border-color 0.2s ease;
}
.searchField:focus {
  border: 3px solid #1f7d63;
  outline: none;
	color: #1f7d63;
}
.searchField:hover:not(:focus){
	border: 3px solid #31b48d;
}
.searchBtn {
	width: 50px;
	height: 50px;
	border-radius: 0 6px 6px 0;
	background-color: #1f7d63;
	display: flex;
	align-items: center;
	padding-left: 11px;
	cursor: pointer;
}
.headerIcons {
	display: flex;
	width: 14%;
	gap: 20px;
	justify-content: space-around;
	align-items: center;
}
.userIcon {
	width: 50px;
	height: 50px;
}
.cartIcon {
	height: 50px;
	width: 140px;
	font-size: 20px;
}

.mainContent {
  background-color: #e7f6ff;
  width: 85%;
	padding: 0 15px;
}
.mainContent h1 {
	font-size: 30px;
	color: #165c48;
	margin: 15px;
}
.mainContentFunctions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customSelectWrapper {
	position: relative;
	display: inline-block;
	width: 250px;
}

.sortSelect {
	width: 100%;
	padding: 15px 40px 15px 15px;
	font-size: 16px;
	background-color: #1f7d63;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	border: none;
	appearance: none;
	transition: background-color 0.3s ease;
	outline: none;
}

.customArrow {
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 15px;
	width: 12px;
	height: 12px;
	background-color: white;
	clip-path: polygon(0 35%, 50% 100%, 100% 35%);
	transform: translateY(-50%);
	transition: transform 0.2s ease;
}
.sortSelect:hover+.customArrow {
	transform: translateY(-50%) rotate(180deg);
}


.itemCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.itemCard {
  width: 200px;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
  padding: 5px;
  border-radius: 11px;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.itemCard:hover {
	box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.297);
	transform: translateY(-5px);
}
.itemCard_img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin: 25px 0;
}
.text {
  width: 180px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.greenBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f7d63;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  gap: 5px;
}
.btn:hover {
	filter: brightness(110%);
  gap: 10px;
}
.btn:active {
	filter: brightness(90%);
}

.cartContent {
	display: flex;
}
.cartItems {
	width: 70%;
}
.cartBtns {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: #fff;
	border-radius: 6px;
}
.shareBtn {
	display: flex;
	background-color: #A7AFE0;
	font-size: 15px;
	color: #fff;
	width: 130px;
	height: 40px;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 9px;
}
.clearBtn {
	width: 200px;
	background-color: #C74545;
}
.cartItemCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
	padding: 15px;
	background-color: #fff;
	border-radius: 6px;
}
.cartItemCardText {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
.deleteCartBtn{
	width: 30px;
	height: 30px;
	background-color: #C74545;
	color: #fff;
	border-radius: 6px;
}
